<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>JavaWebTP06</display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TestSessionServlet1</servlet-name>
    <servlet-class>cn.com.demo.servlet.TestSessionServlet1</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TestSessionServlet2</servlet-name>
    <servlet-class>cn.com.demo.servlet.TestSessionServlet2</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MobileListServlet</servlet-name>
    <servlet-class>cn.com.demo.servlet.MobileListServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MobileInfoServlet</servlet-name>
    <servlet-class>cn.com.demo.servlet.MobileInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateMobileServlet</servlet-name>
    <servlet-class>cn.com.demo.servlet.UpdateMobileServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SearchMobileListServlet</servlet-name>
    <servlet-class>cn.com.demo.servlet.SearchMobileListServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SearchUserListServlet</servlet-name>
    <servlet-class>cn.com.demo.servlet.SearchUserListServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SearchMobilePageListServlet</servlet-name>
    <servlet-class>cn.com.demo.page.servlet.SearchMobilePageListServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SumPageNumberServlet</servlet-name>
    <servlet-class>cn.com.demo.page.servlet.SumPageNumberServlet</servlet-class>
  </servlet>







  <servlet-mapping>
    <servlet-name>TestSessionServlet1</servlet-name>
    <url-pattern>/testSessionServlet1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TestSessionServlet2</servlet-name>
    <url-pattern>/testSessionServlet2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MobileListServlet</servlet-name>
    <url-pattern>/mobileListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MobileInfoServlet</servlet-name>
    <url-pattern>/mobileInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateMobileServlet</servlet-name>
    <url-pattern>/updateMobileServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchMobileListServlet</servlet-name>
    <url-pattern>/searchMobileListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchUserListServlet</servlet-name>
    <url-pattern>/searchUserListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchMobilePageListServlet</servlet-name>
    <url-pattern>/searchMobilePageListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SumPageNumberServlet</servlet-name>
    <url-pattern>/sumPageNumberServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>